<div class="section_concept">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8 text-center text-sm-start">
				<h2 class="pricing"><b class="orange_name">M</b>ademba <b class="orange_name">A</b>lexandre <b class="orange_name">D</b>iop</h2>
			</div>
			<div class="col-lg-4  col-sm-4 mb-3 text-center text-sm-start">
				<%= image_tag "img/photo_mad.resize.jpg",
        style:"width: 190px !important;
  					border-radius: 50% !important;
            height: 181px !important;"
        %>
			</div>
			<p>
				Le sport contribue à mon bien-être et à mon équilibre. Enfant hyperactif, j'ai successivement pratiqué le judo, le handball, le football, le basket (10 ans) avant de connaître la boxe française pendant mes études universitaires.
				<br><br>
				Ce sport de percussion qui sollicite l'ensemble du corps m'a spontanément plu et beaucoup apporté. Après 4 ans de compétitions, j'ai décidé de me former afin de partager et transmettre les valeurs de la boxe: le courage, l'honneur, le respect, l'humilité, la discipline, la précision, l'efficacité, le dépassement, la maîtrise de soi, la gestion du stress, la résilience.
			</p>
			<div class="col-lg-8">
				<h1 class="text-center text-sm-start mt-5">Mon objectif</h1>
				<p>
					Coach sportif depuis 2013, j'enseigne la boxe française à un public composé d'enfants, d'hommes et de femmes issus de tous milieux sociaux avec un objectif en tête: <b>Rendre heureux le plus grand nombre d'individus par le sport en ayant un impact positif sur leur bien-être et leur santé physique et psychique.</b>
				</p>
			</div>
			<div class="col-md-4">
				<%= image_tag"img/nuage_3.png", class:"img-tag" %>
			</div>

			<div class="col-lg-12">
				<h1 class="text-center text-sm-start mt-5">Ma philosophie</h1>
				<p>
					J'entrevois le sport et la boxe plus particulièrement comme une métaphore de la vie: vaincre ses peurs, relever des défis, échouer, apprendre, se préparer, se relever, gagner.
					<br><br>
					La boxe est un booster d'énergie en ceci que sa pratique joue, à mes yeux, un rôle primordial sur la santé morale et physique de ses pratiquants.
					<br><br>
					En plus d'avoir des effets positifs sur la santé et le système immunitaire et nerveux, la boxe permet également d'aiguiser la confiance en soi, la confiance en sa capacité à agir et dépasser ses limites.
					<br><br>
				</p>
			</div>

			<div class="col-lg-8">
				<p class="manifesto">
					Beyond Boxing c'est <b>"Plus qu'un sport, un état d'esprit. Plus qu'un cours, une bouffée d'énergie."</b>
				</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
				<%= image_tag"img/Manifesto.1.png", class:"manifesto"%>
				</div>
			</div>
			<h1 class="text-center text-sm-start">Formations & Certifications</h1>
			<div class="row" id="jaune">
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<%= image_tag "img/certificat_jaune.png", class:"certif"%>
					<h4 class="text-center">CQP Savate Boxe Française</h4>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<%= image_tag "img/certificat_jaune.png", class:"certif"%>
					<h4 class="text-center">Spécialisation fédérale public handicapé</h4>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<%= image_tag "img/certificat_jaune.png", class:"certif"%>
					<h4 class="text-center">Gant d'argent <br>technique 1 </h4>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<%= image_tag "img/certificat_jaune.png", class:"certif"%>
					<h4 class="text-center">
          DESJEPS Direction de structure et projets
          </h4>
				</div>
			</div>
			<div class="row" id="jaune">
				<div class="col-lg-3 col-md-4 col-sm-6 text-center">
					<%= image_tag "img/certificat_vert.png", class:"certif"%>
					<h4 class="text-center">Sport santé Prescri'Forme</h4>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 text-center">
					<%= image_tag "img/certificat_vert.png", class:"certif"%>
					<h4 class="text-center">Conseiller en nutrition santé</h4>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 text-center">
					<%= image_tag "img/certificat_vert.png", class:"certif"%>
					<h4 class="text-center">Conseiller en gestion du stress</h4>
				</div>
			</div>
			<div class="row" id="jaune">
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<%= image_tag "img/certificat_bleu.png", class:"certif"%>
					<h4 class="text-center">Prévention des violences sexuelles</h4>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<%= image_tag "img/certificat_bleu.png", class:"certif"%>
					<h4 class="text-center">Laïcité et valeurs de la république</h4>
				</div>
			</div>
		</div>
	</div>
</div>
