<div class="section_concept">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1>MADEMBA ALEXANDRE DIOP</h1>
			</div>
			<div class="col-lg-4 mb-3">
				<%= image_tag "img/mad.png" %>
			</div>
			<p>
				Le sport fait partie intégrante de mon bien-être. Enfant hyperactif, j'ai successivement pratiqué le judo, le handball, le football, le basket(10 ans) avant de faire la connaissance de la boxe française pendant mes études universitaires.
				<br><br>
				Ce sport de percussion qui sollicite l'ensemble du corps m'a spontanément plu et beaucoup apporté. Après 4 ans de compétitions j'ai décidé de me former afin de partager et transmettre les valeurs de la boxe: le courage, l'honneur, le respect, l'humilité, la discipline, la précision, l'éfficacité, le dépassement, la maîtrise de soi, la gestion du stress, la résilience.
			</p>
			<div class="col-lg-8">
				<h1>Mon objectif</h1>
				<p>
					Coach sportif depuis 2013, j'enseigne la boxe française à un public composé d'enfants, d'hommes et de femmes issus de tous milieux sociaux avec un objectif en tête: <b>Rendre heureux le plus grand nombre d'individus par le sport en ayant un impact positif sur leur bien-être et leur santé physique et psychique.</b>
				</p>
			</div>
			<div class="col-md-4">
				<%= image_tag"img/nuage.resize.png", class:"img-tag" %>
			</div>

			<div class="col-lg-8">
				<h1>Ma philosophie</h1>
				<p>
					J'entrevois le sport et la boxe plus particulièrement comme une métaphore de la vie: vaincre ses peurs,relever des défis, échouer, apprendre, se préparer, se relever, gagner.
					<br><br>
					La boxe est un booster d'énergie en ceci que sa pratique joue, à mes yeux, un rôle primodial sur la santé morale et physique de ses pratiquants.
					<br><br>
					En plus d'avoir des effets positifs sur la santé et la système immunitaire et nerveux, la boxe permet également d'aiguiser la confiance en soi, la confiance en sa capacité à àgir et dépasser ses limites.
					<br><br>
					Beyond Boxing c'est <b>"Plus qu'un sport, un état d'esprit. Plus qu'un cours, une bulle d'énergie."</b>
				</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">		
				<%= image_tag"img/Manifesto.png", class:"manifesto"%>
				</div>
				<!-- <div class="card" style="width: 13rem;margin-top:150px;height: 350px;">
				  <div class="card-body">
				    <h5 class="card-title">Respect</h5>
				    <h5 class="card-title">Bienveillance</h5>
				    <h5 class="card-title">Apprentissage</h5>
				    <h5 class="card-title">Détente</h5>
				    <h5 class="card-title">Amusement</h5>
				    <h5 class="card-title">Sérénité</h5>
				    <h5 class="card-title">Sécurité</h5>
				  </div>
				</div> -->
			</div>
			<h1>Formations & Certifications</h1>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/CQP.png", class:"certif" %>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/HANDI.png" , class:"certif"%>				
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/GAT.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/DESJEPS.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/SPORT_SANTE.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/NUTRITION.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/STRESS.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/PREVENTION.png" , class:"certif"%>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 text-center">
				<%= image_tag "img/LAICITE.png" , class:"certif"%>
			</div>

		</div>
	</div>
</div>
