<div class="container merci">
  <div class="row">
    <h2 class="title_pricing text-center">L'ESPACE DES MERCIS</h2>
  	<p class="text-center merci">
  		Parce que sans lui, rien ne serait possible: l'amour.
  		<br>
  		L'amour de la boxe, l'amour du partage, l'amour des gens et des contacts humains, l'amour d'apprendre et de transmettre, l'amour donné, l'amour reçu.
  	</p>
  </div>
</div>

<div class="section_merci">
  <div class="container">
  	<div class="text-center">
  		<!-- <button type="button" class="btn btn-outline-secondary disabled" aria-disabled="true">L'ESPACE DES MERCIS</button> -->
  	</div>
		<div class="gallery">
	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/floriane.png", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Floriane</h1>
	      <h6 class="text-center">Cheffe à domicile</h6>
	      <p>"Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe. Mad a su s'adapter à moi à chacune de nos rencontres, à mes attentes, mes envies et ma progression tout au long de nos séances. Sa patience et sa bienveillance m'ont permis de progresser et de devenir encore plus motivée que jamais ! C'est plus qu'un cours mais un véritable échange entre un professeur et son élève"</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/Odile-bg.png", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Odile</h1>
	      <h6 class="text-center">Manageure en transformation digitale</h6>
	      <p>"Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
				Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
				Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/Haoua-bg.png", class: "avatar-haoua"%>
	      </div>
	      <h1 class="text-center">Haoua</h1>
	      <h6 class="text-center">Masseur-kinésithérapeute</h6>
	      <div class="text-center">
	      	<a href="https://www.facebook.com/haoua.halilou/"
	      	  target="blank">
	      		<%= image_tag "img/facebook-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Ayant fait plusieurs séances avec Alex, il a su s’adapter à mon profil et mes objectifs de compétition, en me poussant dans mes retranchements. Pédagogie et rigueur… Mais  toujours avec bienveillance!"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/ilyes_avatar-bg.png", class: "avatar-home_1"%>
	      </div>
	      <h1 class="text-center">Ilyes</h1>
	      <h6 class="text-center">Agent d'accueil polyvalent</h6>
	      <div class="text-center">
	      	<a href="https://www.facebook.com/ilyessou.kimo "
	      	  target="blank">
	      		<%= image_tag "img/facebook-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant, je progresse au fur et à mesure de son accompagnement. J’y prends énormément de plaisir et je recommande à tous !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(14).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Marine_bg.png", class: "avatar-home_1 pt-1"%>
	      </div>
	      <h1 class="text-center">Marine</h1>
	      <h6 class="text-center">Chef de projet com et<br>marketing digital</h6>
	      <div class="text-center">
	      	<a href=" https://www.instagram.com/marinebillis/?hl=fr" target="blank">
	      		<%= image_tag "img/instagram-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Alexandre sait trouver le parfait mix pour des coachings réussis : observation, pédagogie, écoute, exigence mais aussi bonne humeur, tout y est pour se sentir en confiance et progresser efficacement. Merci !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/maryse_avatar-bg.png", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Maryse</h1>
	      <h6 class="text-center">Educatrice</h6>
	      <p>"Les coachings de MAD m'ont beaucoup apporté. Son approche, son écoute, sa bienveillance, sa pédagogie et sa joie de vivre font de ses cours des moments de bonheur"
				</p>
	    </figure>
	  </div>
	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/laure.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Laura</h1>
	      <h6 class="text-center">Responsable d'agence bancaire</h6>
	      <div class="text-center">
	      	<a href="https://www.linkedin.com/in/laura-sorel/"
	      	  target="blank">
	      		<%= image_tag "img/linkedin-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Appréhender un sport de combat n’est pas chose aisée. Il faut donc trouver le bon coach qui va nous permettre de nous préparer  psychiquement (sans nous démotiver par un cadrage trop militaire ) et physiquement. Alexandre applique une méthode des plus efficaces. En effet, après un échange sur vos motivations, votre besoin en termes d’intensité des séances, votre souhait sur les zones du corps à travailler…, Alexandre crée un programme d’exercices personnalisés ambitieux mais atteignables. Soyez prêts à aller chercher vos limites car Alexandre ne vous laissera pas vous reposer sur vos lauriers mais tout cela avec une grande bienveillance. Si vous souhaitez améliorer votre cardio, votre tonicité, développer votre agilité, votre coordination  et retrouver une hygiène de vie saine; ne cherchez pas plus loin car Alexandre est le coach qu’il vous faut."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(13).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%=  image_tag "img/Gregory-bg.png", class: "avatar-gregory" %>
	      </div>
        <h1 class="text-center">Gregory</h1>
	      <h6 class="text-center">Sales Manager</h6>
	      <div class="text-center">
	      	<a href=" https://www.linkedin.com/in/glaks92/"
	      	  target="blank">
	      		<%= image_tag "img/linkedin-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Motivation et inspiration sont les maîtres mots d'un cours avec Mad ! Mixant l'apprentissage théorique de la boxe française ainsi que le renforcement musculaire, Mad sait trouver les mots pour apprendre à se dépasser pour, au final, un bien être physique et mental."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/Victor.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Victor</h1>
	      <h6 class="text-center">Chargé de portefeuille immobilier</h6>
	      <p>"Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans Alexandre a su me motiver et me challenger pour ne pas rester sur mes acquis mais au contraire me pousser à remettre en cause ma pratique et renforcer mon cardio."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	        <%= image_tag "img/Florent.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Florent</h1>
	      <h6 class="text-center">Project Manager</h6>
	      <p>"Bien qu’ayant une vision sur un programme annuel, Alexandre n’hésite pas à ajuster ou à modifier le programme du jour, pour s’adapter au niveau technique et à la condition physique des boxeurs présents à la séance.Le groupe progresse continuellement sans jamais pour autant se mettre en danger."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Martin.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Martin</h1>
	      <h6 class="text-center">Metteur en scène</h6>
	      <p>"Alexandre est un professeur à l’écoute. Il arrive à mêler l’intelligence à la discipline de la boxe en nous faisant prendre conscience de ce qui nous entoure pour que l’on puisse comprendre ce qu’il se passe sur un ring. Il travaille beaucoup le cardio, pour que l’on puisse travailler nos mouvements dans la fatigue, afin d’être au plus juste dans les coups portés. Il n’y a pas cette notion de « violence » dans la boxe que l’on travaille avec lui, mais bel et bien la notion de maîtrise, qui nous permet de performer lorsque le gong retentit. Il est motivant, empathique et arrive à répondre aux attentes du jeune boxeur débutant que je suis."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Benjamin.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Benjamin</h1>
	      <h6 class="text-center">Directeur de centre</h6>
	      <div class="text-center">
	      	<a href="https://instagram.com/benjamin_rojot?igshid=YmMyMTA2M2Y=" target="blank">
	      		<%= image_tag "img/instagram-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Alexandre est un professeur à l’écoute des enfants. Son expérience lui permet de pouvoir répondre aux besoins des mineurs, peu importe l’âge de ces derniers. Tous les enfants avaient le sourire et l’envie de découvrir la boxe avec lui."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Eliana.png", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Eliana</h1>
	      <h6 class="text-center">Docteure en physique</h6>
	      <p>"Très bonne pédagogie, un coach qui sait s’adapter aux profils des pratiquants pour dispenser enseignements et coachings de qualité. Je recommande vivement."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Aïcha.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Aïcha</h1>
	      <h6 class="text-center">Directrice du centre social Le village</h6>
	      <p>"A l'occassion de la Journée internationale des Droits des Femmes, Alexandre nous a fait l'honneur d'animer un atelier sport santé au centre social Le village. Pendant près de 2h00, nous nous sommes initiées à la boxe française dans une ambiance conviviale et festive. Alexandre a fait preuve d'adaptabilité face à un public non-initié. Il a proposé tout au long de la séance un contenu adapté à la forme physique et psychique de chacune avec une montée en charge progressive dans l'intensité et la diversité des exercices proposés. Il nous a également rappelé qu'une activité physique régulière participe à la bonne santé physique et mentale. Par ailleurs, face au succès de ce premier atelier, les participantes souhaitent qu'Alexandre intervienne de manière régulière sur la structure. Un grand merci à toi Alexandre pour ton énergie et ton professionnalisme !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Alexia.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Alexia</h1>
	      <h6 class="text-center">Fondatrice de ByBackhouse </h6>
	      <p>"Nous avons eu de la chance d'accueillir Mademba lors d'un de nos stages de vacances ludiques d'anglais sur thème des pirates pour une session de boxe...Il faut bien qu'ils sachent se défendre sur leur navire ! Les enfants ont passé un merveilleux moment et Mademba s'est efforcé à rentrer dans le thème de notre stage, il a même produit des diplômes en lien avec les pirates ! Depuis la prise de contact jusqu'au suivi post prestation Mademba s'est montré attentif, bienveillant et méticuleux pour répondre au mieux à nos attentes et au-délà. Mademba parle parfaitement bien anglais ce qui a aidé beaucoup d'enfants non francophones. Il a une parfaite compréhension des enfants et de leur rythme rendant très simple l'organisation. Les enfants en parlent encore et font des gestes de boxe dans le vide, Mademba a clairement déclanché une confiance en soi supplémentaire dans les enfants, les valeurs de respect et de persévérance. Merci !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/lucie.jpg", class: "avatar-home" %>
	      </div>
	      <h1 class="text-center">Lucie</h1>
	      <!-- <h6 class="text-center">Docteure en physique</h6> -->
	      <p>"J'ai adoré découvrir la boxe française avec Alexandre ! Quand on pense à un sport de contact aussi physique, de prime abord ça peut intimider, surtout quand notre cardio n'est pas très bon :) Mais Alexandre  nous rend ce sport très accessible et nous pousse à nous dépasser sans qu'on s'en rende compte tellement on s'amuse! On finit la séance rincée mais incroyablement heureuse et bien !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/rozenn.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Rozenn</h1>
	      <!-- <h6 class="text-center">Docteure en physique</h6> -->
	      <p>"Je n'aurais jamais cru que j'allais un jour devenir fan de boxe (je ferme les yeux en regardant Rocky !), mais c'etait avant de rencontrer Alexandre ! Les cours avec Alexandre sont un condensé de techniques, de jeux et de bonne humeur. Il se met au niveau de chacun et avec beaucoup de patience et d'humour, il nous aide à progresser. J'ai enfin trouvé le moyen de me défouler physiquement (je sors du cours en sueur à chaque fois) et mentalement (naturellement mon esprit se concentre  à 100% sur l'instant présent pendant les exercices, c'est magique !!), Bref à essayer !!!!"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/helene.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Hélène</h1>
	      <!-- <h6 class="text-center">Docteure en physique</h6> -->
	      <p>"Les cours de boxe française avec Alexandre sont un réel bonheur, Alexandre est très pédagogue, il s'adapte au niveau et à la forme physique de chacun, et prend le temps de corriger vos mouvements afin de vous aider à vous perfectionner, le tout dans le rire et la bonne humeur. Quelle meilleure façon de se dépenser ?"
				</p>
	    </figure>
	  </div>

    <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Faudhil.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Faudhil</h1>
	      <h6 class="text-center">Directeur financier des affaires publiques</h6>
        <div class="text-center">
	      	<a href=" https://www.linkedin.com/in/faudhil-moussi-8787b7"
	      	  target="blank">
	      		<%= image_tag "img/linkedin-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"Alex a une approche personnalisée du coaching. J’ai été agréablement surpris par sa maîtrise technique et sa capacité à transmettre son savoir sans brusquer mais avec détermination. On travaille les bases pour mieux progresser. Il a l’oeil pour corriger tout de suite tes défauts et ainsi monter en puissance au fil des séances.
        Au delà de ces aspects c’est une personne inspirante qui t’amène à te surpasser. Il est très pédagogue et il est présent pour t’accompagner dans tes efforts en expliquant de manière simple les progrès accomplis. Il est à l’ecoute de ton corps afin d’éviter les blessures inutiles. Il veille à ce que la séance soit un dialogue permanent. Ce qui est appréciable car on sait ou on va."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Julien-bg.png", class: "avatar-julien"%>
	      </div>
	      <h1 class="text-center">Julien</h1>
	      <h6 class="text-center">Avocat</h6>
	      <div class="text-center">
	      	<a href="https://www.linkedin.com/in/jmeillereux/"
	      	  target="blank">
	      		<%= image_tag "img/linkedin-color.png", class:"icon-merci"%>
	      	</a>
	      </div>
	      <p>"J'ai apprécié le coaching d'Alex qui permet de se concentrer sur les points importants et de progresser pas à pas. On n'est jamais saturé d'informations, ce qui en plein effort est appréciable. Et quand les conseils sont donnés avec le sourire on les intègre encore plus facilement"
				</p>
	    </figure>
	  </div>

    <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Aldo.jpg", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Aldo</h1>
	      <h6 class="text-center">Consultant Manager</h6>
	      <p>"Alexandre est un coach engagé et motivant!
          Ses cours sont structurés et rythmés et sa pédagogie permet à tous de progresser de façon régulière.
          Il n'hésite pas à faire part de son expérience pour rendre ses cours encore plus efficaces et sait aussi être à l'écoute de ses élèves.
          S'il est exigeant sur la technique, c'est avant tout par soucis de progression!"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" /> -->
	          <%= image_tag "img/Ludivine.png", class: "avatar-home"%>
	      </div>
	      <h1 class="text-center">Ludivine</h1>
	      <h6 class="text-center">Comédienne</h6>
	      <div class="text-center">
		      <a href="https://www.instagram.com/ludivinemeulle/?hl=fr" target="blank">
		        <%= image_tag "img/instagram-color.png", class:"icon-merci"%>
		      </a>
	      </div>
	      <p>"J'ai trouvé ces deux heures d'atelier hyper enrichissantes ! Je suis personnellement parfois bloquée au niveau du corps lorsque je joue et cette séance m'a permis de m'ancrer dans mon corps, de prendre conscience de mes mouvements. Et surtout d'oublier le texte ! <br> En théâtre le texte est notre outil principal et quand on le déclame, on y pense forcément, et faire les exercices que tu nous as donné m'a permis de lâcher prise sur le texte et d'écouter ce que mon corps avait à dire aussi ! J'ai également toujours du mal à réguler ma respiration, mon souffle lorsuqe je joue, et le fait d'être en action et concentrée sur les mouvements, et aux bons moments pour rythmer mon texte sans être à bout de souffle à la fin :) Bref c'était vraiment chouette et je me dis que tous les comédiens devraient se faire une séance avant les répétitions en guise d'échauffement!"
				</p>
	    </figure>
	  </div>
		</div>
  </div>
</div>
