<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Links  -->
  <section class="">
    <hr>
    <div class="container text-center text-md-start mt-5">
      <h1 class="footer text-center mt-5">PRETS POUR L'EXPERIENCE ?</h1>
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            A propos
          </h6>
          <p>
            <%=  link_to "Concept", concept_path, class: "nav-link"%>
          </p>
          <p>
            <%= link_to "Contact", new_contact_path, class: "nav-link" %>
          </p>
          <p>
            <%= link_to "FAQ", faq_path, class: "nav-link" %>
          </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!-- <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
          <!-- Links
          <button type="button" class="btn btn-outline-secondary btn-lg mb-3"><a href="https://www.beyondboxing.fr/private">Réserver un cours privé</a></button>
          <button type="button" class="btn btn-outline-secondary btn-lg mb-3"><a href="https://www.beyondboxing.fr/contacts/new">Contacter notre équipe</a></button>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <!-- Links -->
          <div class="text-center">
          <h6 class="text-uppercase fw-bold mb-4">Services</h6>
          <p>
            <%= link_to "Pour les particuliers", private_path, class: "nav-link" %>
          </p>
          <p>
            <%= link_to "Pour les entreprises", entreprise_path, class: "nav-link" %>
          </p>
          <p>
            <%= link_to "CGV", condition_path, class: "nav-link" %>
          </p>
          <p>
            <%= link_to "mentions légales", mentions_path, class: "nav-link" %>
          </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="text-center">
            <h6 class="text-uppercase fw-bold mb-4">Les Réseaux sociaux</h6>
            <!--<a href="" class="me-2 link-secondary">
              <%#= image_tag "img/linkedin.png", class:"icon"%>
            </a>
            <a href="" class="me-2 link-secondary">
              <%#= image_tag "img/facebook.png", class:"icon"%>
            </a>
            <a href="" class="me-2 link-secondary">
              <%#= image_tag "img/new-instagram.png", class:"icon"%>
            </a>-->
            <a href="https://www.youtube.com/@beyongboxingchannel" class="me-2 link-secondary">
              <%= image_tag "img/youtube.png" , class:"icon"%>
            </a>
            <a href="https://www.beyondboxing.fr/contacts/new" class="me-2 link-secondary">
              <%= image_tag "img/email-bg.png" , class:"icon"%>
            </a>
          </div>
        </div>

      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center pb-5">
    <!-- <div class="container">
      <a href="" class="me-2 link-secondary">
        <%#= image_tag "img/linkedin.png", class:"icon"%>
      </a>
      <a href="" class="me-2 link-secondary">
        <%#= image_tag "img/facebook.png", class:"icon"%>
      </a>
      <a href="" class="me-2 link-secondary">
        <%#= image_tag "img/new-instagram.png", class:"icon"%>
      </a>
      <a href="https://www.youtube.com/@beyongboxingchannel" class="me-2 link-secondary">
        <%#= image_tag "img/youtube.png" , class:"icon"%>
      </a>
      <a href="https://www.beyondboxing.fr/contacts/new" class="me-2 link-secondary">
        <%#= image_tag "img/email-bg.png" , class:"icon"%>
      </a>
     </div>-->
    <h6 class="droits">

        ©2023 Beyond Boxing Tous droits réservés
        <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </h6>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer
