<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to root_path,class: "navbar-brand" do %>
     <span class="name">Beyond Boxing <b class="by">BY MAD</b></span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
           <%= link_to "A propos", apropos_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Cours privé", private_path, class: "nav-link"%>
          </li>
          <li  class="nav-item active">
            <%= link_to "Entreprise", entreprise_path, class: "nav-link"%>
          </li>
          <li class="nav-item active">
           <%= link_to "Tarifs", tarifs_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
           <%= link_to "Merci", merci_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <a href=" https://www.youtube.com/@beyondboxingchannel"
              target="blank">
              <%= image_tag "img/yt_logo_rgb_light.png", class:"logo-youtube"%>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
